[defaults]
inventory = inventory.yml
host_key_checking = False
remote_user = ubuntu
private_key_file = ansible-key.pem
timeout = 30
gathering = smart
fact_caching = memory

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
pipelining = True
retries = 3 